Codigo Font/ClinVitta/Service References/ServiceUsuario/AutenticaUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PARAMETRO_xxx_WEBSERV">
        <s:complexType />
      </s:element>
      <s:element name="PARAMETRO_xxx_WEBSERVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PARAMETRO_xxx_WEBSERVResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodProjeto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscaUsuarioResult" type="tns:ArrayOfDadosUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDadosUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DadosUsuario" nillable="true" type="tns:DadosUsuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DadosUsuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CODUSUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilialUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuncaoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeUsuario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidaToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CODPROJETO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidaTokenResult" type="tns:ArrayOfDadosUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDadosUsuario" nillable="true" type="tns:ArrayOfDadosUsuario" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVSoapIn">
    <wsdl:part name="parameters" element="tns:PARAMETRO_xxx_WEBSERV" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVSoapOut">
    <wsdl:part name="parameters" element="tns:PARAMETRO_xxx_WEBSERVResponse" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:BuscaUsuario" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaToken" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaTokenResponse" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpGetIn" />
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioHttpGetIn">
    <wsdl:part name="pUsuario" type="s:string" />
    <wsdl:part name="pSenha" type="s:string" />
    <wsdl:part name="pCodProjeto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDadosUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenHttpGetIn">
    <wsdl:part name="pToken" type="s:string" />
    <wsdl:part name="CODPROJETO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDadosUsuario" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpPostIn" />
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioHttpPostIn">
    <wsdl:part name="pUsuario" type="s:string" />
    <wsdl:part name="pSenha" type="s:string" />
    <wsdl:part name="pCodProjeto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDadosUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenHttpPostIn">
    <wsdl:part name="pToken" type="s:string" />
    <wsdl:part name="CODPROJETO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidaTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDadosUsuario" />
  </wsdl:message>
  <wsdl:portType name="AutenticaUsuarioSoap">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVSoapIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <wsdl:input message="tns:BuscaUsuarioSoapIn" />
      <wsdl:output message="tns:BuscaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <wsdl:input message="tns:ValidaTokenSoapIn" />
      <wsdl:output message="tns:ValidaTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AutenticaUsuarioHttpGet">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVHttpGetIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <wsdl:input message="tns:BuscaUsuarioHttpGetIn" />
      <wsdl:output message="tns:BuscaUsuarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <wsdl:input message="tns:ValidaTokenHttpGetIn" />
      <wsdl:output message="tns:ValidaTokenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AutenticaUsuarioHttpPost">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVHttpPostIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <wsdl:input message="tns:BuscaUsuarioHttpPostIn" />
      <wsdl:output message="tns:BuscaUsuarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <wsdl:input message="tns:ValidaTokenHttpPostIn" />
      <wsdl:output message="tns:ValidaTokenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticaUsuarioSoap" type="tns:AutenticaUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <soap:operation soapAction="http://tempuri.org/PARAMETRO_xxx_WEBSERV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <soap:operation soapAction="http://tempuri.org/BuscaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <soap:operation soapAction="http://tempuri.org/ValidaToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticaUsuarioSoap12" type="tns:AutenticaUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <soap12:operation soapAction="http://tempuri.org/PARAMETRO_xxx_WEBSERV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <soap12:operation soapAction="http://tempuri.org/BuscaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <soap12:operation soapAction="http://tempuri.org/ValidaToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticaUsuarioHttpGet" type="tns:AutenticaUsuarioHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <http:operation location="/PARAMETRO_xxx_WEBSERV" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <http:operation location="/BuscaUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <http:operation location="/ValidaToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticaUsuarioHttpPost" type="tns:AutenticaUsuarioHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <http:operation location="/PARAMETRO_xxx_WEBSERV" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuario">
      <http:operation location="/BuscaUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaToken">
      <http:operation location="/ValidaToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutenticaUsuario">
    <wsdl:port name="AutenticaUsuarioSoap" binding="tns:AutenticaUsuarioSoap">
      <soap:address location="http://localhost/wsClinVitta/AutenticaUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticaUsuarioSoap12" binding="tns:AutenticaUsuarioSoap12">
      <soap12:address location="http://localhost/wsClinVitta/AutenticaUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticaUsuarioHttpGet" binding="tns:AutenticaUsuarioHttpGet">
      <http:address location="http://localhost/wsClinVitta/AutenticaUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticaUsuarioHttpPost" binding="tns:AutenticaUsuarioHttpPost">
      <http:address location="http://localhost/wsClinVitta/AutenticaUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>