Codigo Font/ClinVitta/Service References/ServiceCEP/PesquisaCEP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarCEP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNumCEP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCEPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCEPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarCEPSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCEP" />
  </wsdl:message>
  <wsdl:message name="BuscarCEPSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCEPResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCEPHttpGetIn">
    <wsdl:part name="pNumCEP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCEPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCEPHttpPostIn">
    <wsdl:part name="pNumCEP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuscarCEPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PesquisaCEPSoap">
    <wsdl:operation name="BuscarCEP">
      <wsdl:input message="tns:BuscarCEPSoapIn" />
      <wsdl:output message="tns:BuscarCEPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PesquisaCEPHttpGet">
    <wsdl:operation name="BuscarCEP">
      <wsdl:input message="tns:BuscarCEPHttpGetIn" />
      <wsdl:output message="tns:BuscarCEPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PesquisaCEPHttpPost">
    <wsdl:operation name="BuscarCEP">
      <wsdl:input message="tns:BuscarCEPHttpPostIn" />
      <wsdl:output message="tns:BuscarCEPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PesquisaCEPSoap" type="tns:PesquisaCEPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCEP">
      <soap:operation soapAction="http://tempuri.org/BuscarCEP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PesquisaCEPSoap12" type="tns:PesquisaCEPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCEP">
      <soap12:operation soapAction="http://tempuri.org/BuscarCEP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PesquisaCEPHttpGet" type="tns:PesquisaCEPHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BuscarCEP">
      <http:operation location="/BuscarCEP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PesquisaCEPHttpPost" type="tns:PesquisaCEPHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BuscarCEP">
      <http:operation location="/BuscarCEP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PesquisaCEP">
    <wsdl:port name="PesquisaCEPSoap" binding="tns:PesquisaCEPSoap">
      <soap:address location="http://localhost/wsClinVitta/PesquisaCEP.asmx" />
    </wsdl:port>
    <wsdl:port name="PesquisaCEPSoap12" binding="tns:PesquisaCEPSoap12">
      <soap12:address location="http://localhost/wsClinVitta/PesquisaCEP.asmx" />
    </wsdl:port>
    <wsdl:port name="PesquisaCEPHttpGet" binding="tns:PesquisaCEPHttpGet">
      <http:address location="http://localhost/wsClinVitta/PesquisaCEP.asmx" />
    </wsdl:port>
    <wsdl:port name="PesquisaCEPHttpPost" binding="tns:PesquisaCEPHttpPost">
      <http:address location="http://localhost/wsClinVitta/PesquisaCEP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>