Codigo Font/ClinVitta/Service References/ServiceControledeLogErro/ControledeLogException1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PARAMETRO_xxx_WEBSERV">
        <s:complexType />
      </s:element>
      <s:element name="PARAMETRO_xxx_WEBSERVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PARAMETRO_xxx_WEBSERVResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDetalhe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COD_PROJETO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAHORA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ENDERECO_REMOTO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListaLogsAplicacoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodAplicacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaLogsAplicacoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaLogsAplicacoesResult" type="tns:ArrayOfCamposLogs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCamposLogs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CamposLogs" nillable="true" type="tns:CamposLogs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CamposLogs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CODIGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA_HORA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAGEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP_REMOTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALHE_ERRO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfCamposLogs" nillable="true" type="tns:ArrayOfCamposLogs" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVSoapIn">
    <wsdl:part name="parameters" element="tns:PARAMETRO_xxx_WEBSERV" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVSoapOut">
    <wsdl:part name="parameters" element="tns:PARAMETRO_xxx_WEBSERVResponse" />
  </wsdl:message>
  <wsdl:message name="GravaLogSoapIn">
    <wsdl:part name="parameters" element="tns:GravaLog" />
  </wsdl:message>
  <wsdl:message name="GravaLogSoapOut">
    <wsdl:part name="parameters" element="tns:GravaLogResponse" />
  </wsdl:message>
  <wsdl:message name="ListaLogsAplicacoesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaLogsAplicacoes" />
  </wsdl:message>
  <wsdl:message name="ListaLogsAplicacoesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaLogsAplicacoesResponse" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpGetIn" />
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GravaLogHttpGetIn">
    <wsdl:part name="pMensagem" type="s:string" />
    <wsdl:part name="pDetalhe" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="COD_PROJETO" type="s:string" />
    <wsdl:part name="DATAHORA" type="s:string" />
    <wsdl:part name="ENDERECO_REMOTO" type="s:string" />
    <wsdl:part name="VERSAO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GravaLogHttpGetOut" />
  <wsdl:message name="ListaLogsAplicacoesHttpGetIn">
    <wsdl:part name="pCodAplicacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListaLogsAplicacoesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCamposLogs" />
  </wsdl:message>
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpPostIn" />
  <wsdl:message name="PARAMETRO_xxx_WEBSERVHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GravaLogHttpPostIn">
    <wsdl:part name="pMensagem" type="s:string" />
    <wsdl:part name="pDetalhe" type="s:string" />
    <wsdl:part name="CodUsuario" type="s:string" />
    <wsdl:part name="COD_PROJETO" type="s:string" />
    <wsdl:part name="DATAHORA" type="s:string" />
    <wsdl:part name="ENDERECO_REMOTO" type="s:string" />
    <wsdl:part name="VERSAO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GravaLogHttpPostOut" />
  <wsdl:message name="ListaLogsAplicacoesHttpPostIn">
    <wsdl:part name="pCodAplicacao" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListaLogsAplicacoesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCamposLogs" />
  </wsdl:message>
  <wsdl:portType name="ControledeLogExceptionSoap">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVSoapIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GravaLogBanco</wsdl:documentation>
      <wsdl:input message="tns:GravaLogSoapIn" />
      <wsdl:output message="tns:GravaLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista Log de Erros De Aplicações</wsdl:documentation>
      <wsdl:input message="tns:ListaLogsAplicacoesSoapIn" />
      <wsdl:output message="tns:ListaLogsAplicacoesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControledeLogExceptionHttpGet">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVHttpGetIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GravaLogBanco</wsdl:documentation>
      <wsdl:input message="tns:GravaLogHttpGetIn" />
      <wsdl:output message="tns:GravaLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista Log de Erros De Aplicações</wsdl:documentation>
      <wsdl:input message="tns:ListaLogsAplicacoesHttpGetIn" />
      <wsdl:output message="tns:ListaLogsAplicacoesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControledeLogExceptionHttpPost">
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">pa</wsdl:documentation>
      <wsdl:input message="tns:PARAMETRO_xxx_WEBSERVHttpPostIn" />
      <wsdl:output message="tns:PARAMETRO_xxx_WEBSERVHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GravaLogBanco</wsdl:documentation>
      <wsdl:input message="tns:GravaLogHttpPostIn" />
      <wsdl:output message="tns:GravaLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista Log de Erros De Aplicações</wsdl:documentation>
      <wsdl:input message="tns:ListaLogsAplicacoesHttpPostIn" />
      <wsdl:output message="tns:ListaLogsAplicacoesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControledeLogExceptionSoap" type="tns:ControledeLogExceptionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <soap:operation soapAction="http://tempuri.org/PARAMETRO_xxx_WEBSERV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <soap:operation soapAction="http://tempuri.org/GravaLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <soap:operation soapAction="http://tempuri.org/ListaLogsAplicacoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControledeLogExceptionSoap12" type="tns:ControledeLogExceptionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <soap12:operation soapAction="http://tempuri.org/PARAMETRO_xxx_WEBSERV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <soap12:operation soapAction="http://tempuri.org/GravaLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <soap12:operation soapAction="http://tempuri.org/ListaLogsAplicacoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControledeLogExceptionHttpGet" type="tns:ControledeLogExceptionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <http:operation location="/PARAMETRO_xxx_WEBSERV" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <http:operation location="/GravaLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <http:operation location="/ListaLogsAplicacoes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControledeLogExceptionHttpPost" type="tns:ControledeLogExceptionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PARAMETRO_xxx_WEBSERV">
      <http:operation location="/PARAMETRO_xxx_WEBSERV" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLog">
      <http:operation location="/GravaLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ListaLogsAplicacoes">
      <http:operation location="/ListaLogsAplicacoes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControledeLogException">
    <wsdl:port name="ControledeLogExceptionSoap" binding="tns:ControledeLogExceptionSoap">
      <soap:address location="http://localhost/wsClinVitta/ControledeLogException.asmx" />
    </wsdl:port>
    <wsdl:port name="ControledeLogExceptionSoap12" binding="tns:ControledeLogExceptionSoap12">
      <soap12:address location="http://localhost/wsClinVitta/ControledeLogException.asmx" />
    </wsdl:port>
    <wsdl:port name="ControledeLogExceptionHttpGet" binding="tns:ControledeLogExceptionHttpGet">
      <http:address location="http://localhost/wsClinVitta/ControledeLogException.asmx" />
    </wsdl:port>
    <wsdl:port name="ControledeLogExceptionHttpPost" binding="tns:ControledeLogExceptionHttpPost">
      <http:address location="http://localhost/wsClinVitta/ControledeLogException.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>